#nbproject/private/
#build/
nbbuild/
dist/
dist-bup/
nbdist/
.nb-gradle/
EARS_SERVER/
moduleBusinessLayerWSMaven/
old_ontologies
*.rdf
*.sh
*.sql
*.txt
*.class
*.log
*.ctxt
.mtj.tmp/
#*.jar
#*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
/SpringExercise/target/
