nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
EARS_SERVER/
old_ontologies
*.rdf
*.sh
*.sql
*.txt
*.class
*.log
*.ctxt
.mtj.tmp/
#*.jar
#*.war
*.ear
*.zip
*.tar.gz
*.rar
*.exe
*.tgz
hs_err_pid*
